a { text-decoration: none; 
    background: cornflowerblue; 
    color: whitesmoke;
    padding: 0px 15px;
    font-family:  Arial, sans-serif;
    display: block;
    border-right: 1px solid white;
    line-height: 50px;/*высота менюшки с надписью*/}
a:hover{ background: royalblue; }
li{ float: left;}
ul{list-style: none;
    background: cornflowerblue;/*фон меню*/ 
    margin: 0px;
    padding-left: 0px;
    margin-top: 60px;/*отступ сверху от меню*/
    height: 50px;/*высота менюшки*/  
    font-size: 15px; /*Размер шрифта*/ }
.Meny{ margin: auto;
    width: 863px}
body{ background: rgb(98, 122, 194);
    background-image:url(img/фото.jpg);
    background-size: 100%;} 
p {background-color:  rgba(255, 255, 255, 1);
    margin-left: 20px;/*для абзаца внутри div*/
    margin-right: 20px;/*для абзаца внутри div*/
    font-family:  Arial, sans-serif;
    text-align: justify;}
.Fer{ background-color: rgba(255, 255, 255, 1);
    margin-left: 130px;
    margin-right: 130px;}
h1{ margin-top: 50px;
    font-size: 40px;
    text-align: center;
    font-family:  Arial, sans-serif;}
h2{font-family:  Arial, sans-serif;
margin-left: 20px;}
h3{margin-left: 20px;
    font-family:  Arial, sans-serif;}  
.F{width: 600px;
height: 250px;
margin-left: 20px;}
.Ff{width: 600px;
height: 300px;
margin-left: 20px;}
.N{width: 900px;
height: 300px;
margin-left: 20px;}
.No{text-decoration: none;
color: black;
background-color: white;}
.No:hover{background-color: white;}